*{
    box-sizing: border-box;
}

.enlace{
    color: red;
    text-decoration: none;
}

.enlace:hover{
    text-decoration: underline;   
}

.enlace:active{
    color: yellow;
}

body{
 
    font-family: "Times New Roman";
    background-color: rgb(198, 203, 209);
}
.tituloypie{
    width:100%;
    color:rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(16, 71, 107);
    clear: both;
    padding:4px;
}
.cuerpo{
    width:100%;
    text-align: center;
    height: 700px;
    clear: both;
}
p{
    text-align:justify;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
.articulo{
    width:45%;
    height: 300px;
    color:white;
    background-color: #39a0cf;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 25px;
    margin-bottom: 25px;    
    padding: 5px;
    overflow: auto;
    transition: 500ms;
}

.articulo:hover{
    background-color: #116e99;
    transition: 500ms;
}
 
.articulos{
    width:85%;
    height: 100%;
    background-color: #000000;
    float: left;
    }

.menu{
    width:15%;
    height: 100%;
    color:#f5f8fc;
    background-color: #0e3ea5;
    float: left;
} 