*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(198, 203, 209);
    margin: 0px;
}

.titulo{
    width:100%;
    height: 100px;
    color:rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(225, 225, 225);
    clear: both;
    padding:4px;
}

.cuerpo{
    width:100%;
    text-align: center;
    height: 700px;
    clear: both;
}

p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}

.articulo{
    width:100%;
    height: 800px;
    color: black;
    background-color: #ffffff;
    float: left;
    font-style: italic;
    overflow: auto;
    transition: 500ms;
}
 
.articulos{
    width:100%;
    height: 100%;
    background-color: #000000;
    float: left; 
}

.menu{
    width:100%;
    height: 100px;
    color:#000000;
    background-color: rgb(240, 240, 240);
    float: left;
    clear: both;
    text-align: center;
} 

.itemmenu{
    padding-left: 5px;
    padding-right: 5px;
}

.pie{
    width: 100%;
    height: 50px;
    color:rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(225, 225, 225);
    clear: both;
    padding: 4px;
}

img{
    border: red 10px;
    border-radius: 150px;
    border:10px solid rgb(225, 225, 225);
}