*{
    box-sizing: border-box;
}

input{
    margin: 5px;
    padding: 10px;
    float: left;
}

article{
    width: 1200px;
    height: 200px;
    margin: 20px;
    float: left;
    border: solid blue 5px;
    overflow: auto;
}

